/* Remover setinhas dos inputs de número */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
}

body {
    background: #0d0d0d;
    color: #f0f0f0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #00feaed0;
    padding: 100px 0 0px;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
}

p {
    text-align: center;
    font-size: 16px;
    padding: 0 0 20px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 0 0 10px;
    font-size: 18px;
}

input {
    padding: 10px;
    margin-top: 5px;
    width: 16%;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    font-size: 16px;
}

button {
    position: relative;
    overflow: hidden;
    padding: 15px 40px;
    background: #221d26;
    color: #FFFFFF;
    border-radius: 50px;
    border: 4px solid #3d3c3a;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    margin: 60px auto;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.2s ease;
}

.botao-duplo span {
    position: relative;
    z-index: 2;
    }

/* Primeiro retângulo - verde escuro */
.botao-duplo::before {
content: '';
position: absolute;
top: -100%;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(30, 192, 136); /* verde escuro */
z-index: 0;
transition: top 0.2s ease;
}

/* Segundo retângulo - verde claro */
.botao-duplo::after {
content: '';
position: absolute;
top: -100%;
left: 0;
width: 100%;
height: 100%;
background-color: #00feaed0; /* verde claro */
z-index: 1;
transition: top 0.4s ease 0.1s; /* atraso para entrar depois */
}

.botao-duplo:hover::before {
top: 0;
}

.botao-duplo:hover::after {
top: 0;
}

.resultado {
    padding: 30px 40px;
    width: 30%;
    margin: 80px auto;
    background: #221d26;
    border-left: 4px solid #00feaed0;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01em;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    input {
        width: 80%;
        font-size: 16px;
    }

    .resultado {
        width: 90%;
        padding: 20px;
        font-size: 15px;
    }

    button {
        width: 80%;
        font-size: 15px;
        display: block;
        margin: 20px auto;
    }

    label {
        font-size: 16px;
        margin-top: 30px;
    }

    h2 {
        font-size: 40px;
        padding: 60px 0 10px;
    }

    p {
        font-size: 14px;
    }
}
